<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>matched_projects</span>
    </h1>
    <p>
      <i class="fa fa-bookmark-o"></i>
      <span translate>demo</span>
    </p>
  </div>
  <div class="row">

    <div class="col-sm-4" *ngFor="let item of items">
      <div class="card text-center">
        <div ngShow="item.featured" class="card-header" translate>
          {{item.featured}}
        </div>
        <div class="card-block">
          <h4 class="card-title">
              {{item.title}}
          </h4>
          <p class="card-text">
              {{item.text}}
          </p>
          <a href="/producer/{{item.id}}" class="btn btn-primary" translate>btn.read_more</a>
          <a href="#" class="card-link" translate>btn.not_interested</a>
        </div>
        <div class="card-footer text-muted">
            {{item.daysAgo}} days ago
        </div>
      </div>
    </div>
  </div>
</div>